# Introduction to Data Science
## Homework 2

Student Name: Yuqi Dai

Student Netid: yd735
***

### Part 1: Case study (5 Points)
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

Place your answer here!

The business problem of Target is that it wants to increase its revenue by convincing its customers that the only store they need to go is target because it has everything they need. But it requires the transition of shopping habit. According to the research of habit formation, one will change his or her habit during major life transition especially like birth of child. So, the specific business problem is how can target locate female buyers in their second trimester or their husbands and send them specially designed ads. 

The corresponding data problem is that given the customer data target has collected and other public data that can be found online, can we build, train, and validate a predictive model in order to accurately locate female buyers in their second trimester or their husbands. 

First, since the goal is to precisely predict a label, we need to use a supervised learning model, and in order to know what is the probability that a given female or her husband belongs to our target label (in second trimester), logistic regression is a great choice to consider. 

Now, with the suitable model, we need to collect and clean the relevant data. The data need to include all kinds of purchase record like the amount of purchase, purchase interval, frequency, categories of commodities, and so on. Most importantly, we need to collect the label data of customers from the public record, whether they give birth to a child in next quarter. A very important task is to locate the record of buyers in the database and match them according to multiple information like name, age, living area, etc.

Then, we will conduct data cleaning to get rid of abnormal outliers, missing values, change categorical values into numerical ones using one hot encoder, and normalize data to make training more efficient. Then, we need to perform feature engineering to remove highly correlated features and totally irrelevant features in order to reduce multicollinearity. If the dimension is still too large to training, we can to Principal Component Analysis or feature filtering. 

Then, we split the data into training set and testing set and fed to the logistic regression model. In the meanwhile, we can use Grid Search technique to find the best hyper-parameters. Finally, we can use precision, recall rate, ROC, and AUC to see the performance of the model. If the result is not desirable, we need to go back and revise the feature engineering methods.

Finally, after getting a sufficient performance score, we should prepare a report explaining all steps and visualize the result.

### Part 2: Exploring data in the command line (4 Points)
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell on EC2 (see original directions) and then just paste your answers here. Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file? (look up 'wc' command)

In [83]:
# Place your code here
!wc -l /Users/yuqidai/Desktop/DataScienceCourse/ipython/data/advertising_events.csv

   10341 /Users/yuqidai/Desktop/DataScienceCourse/ipython/data/advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [84]:
# Place your code here
!cut -d ',' -f 1 /Users/yuqidai/Desktop/DataScienceCourse/ipython/data/advertising_events.csv | sort | uniq | wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [87]:
# Place your code here
!cut -d ',' -f 3 /Users/yuqidai/Desktop/DataScienceCourse/ipython/data/advertising_events.csv | sort | uniq -c | sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [100]:
# Place your code here
!grep -w '37' /Users/yuqidai/Desktop/DataScienceCourse/ipython/data/advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically (16 Points)

1\. (1 Point) Download the data set `"data/ads_dataset.tsv"` and load it into a Python Pandas data frame called `ads`.

In [130]:
import pandas as pd
ads=pd.read_csv('/Users/yuqidai/Downloads/ads_dataset.tsv',delimiter='\t')

2\. (4 Points) Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` method returns a useful series of values that can be used here.

In [120]:
def getDfSummary(input_data):
    # Place your code here
    output_data=(pd.concat([ input_data.describe().drop('count').transpose(),(input_data.shape[0] - input_data.count()),input_data.nunique()],axis=1))
    output_data.rename(columns={0:'number_nan',1:'number_distinct'},inplace=True)
    return output_data

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `use %timeit`

In [132]:
# Place your code here
%timeit getDfSummary(ads)

71.6 ms ± 2.75 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [131]:
getDfSummary(ads)

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

4\. (2 Points) Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [127]:
# Place your code here
print('The field "{}" has missing values'.format(getDfSummary(ads).index[A['number_nan']!=0].tolist()[0]))

The field "buy_freq" has missing values

5\. (4 Points) For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be? Don't just show code here. Please explain your answer.

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [81]:
# Place your code here
# First we get a data frame called missing to record the missing value. Then we get the descriptive stats of it.
# Then, we compare this one with the original one and find that many columns: 'isbuyer', 'buy_interval','multiple_buy','expected_time_buy' are all zero.
# This means that those people with missing value in 'buy frequency' are those who just purchased once or never purchsed anything.
# So the data is not missing at random and for those people, the frequency of purchasing is 0. 
# Thus, 'isbuyer','buy_interval','multiple_buy', and'expected_time_buy' can prefectly predict the missing value of buy_freq.

missing=ads[ads['buy_freq'].isnull()]
getDfSummary(missing)

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,0
visit_freq,52257.0,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,52257.0,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,52257.0,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,52257.0,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,52257.0,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,52257.0,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,52257.0,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

6\. (4 Points) Which variables are binary?

In [41]:
# Place your code here
A=(ads.nunique()==2)
for i in ads.columns[A].tolist():
    print ('{} is a binary variable.'.format(i))

isbuyer is a binary variable.
multiple_buy is a binary variable.
multiple_visit is a binary variable.
y_buy is a binary variable.